{% extends 'base.html' %}

{% block content %}

<div id="page-wrapper" class = "col-lg-12">

            <div class="container-fluid">
				
                <!-- Page Heading -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{execution.title}} <small>Showing testcases filtered by {{filter_by}}</small>
                        </h1>
                        
                    </div>
                  
                </div>
                <!-- /.row -->

                <div class="row">
                    
                    
                <div>
            </div>
            <!-- /.container-fluid -->

        </div>
         
        <!-- /#page-wrapper -->
<div class="row">


<label class="col-lg-2 control-label" for="project">Filter by:</label>

  <div class="col-lg-4">
    <select id="result" name="result" class="form-control">
    <option value="all">All</option>
      <option value="pass">PASS</option>
      <option value="fail">FAIL</option>
      <option value="nap">Not Applicable</option>
      <option value="executed">All Executed</option>
      <option value="ne">Not executed</option>
    </select>
  </div>
</div>

		
   		<div class="col-lg-12">
                        <h2>Testcase summary</h2>
                        <div class="table-responsive">
                            <table id="result_table" class="table table-hover table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Testcase Title</th>
                                        
                                        <th>Result</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                {% for eh  in execution_history %}
                                	{% if eh.result == "PASS"%}
                                   	 <tr class="success">
                                    
                                    {% elif eh.result == "FAIL"%}
                                   	 <tr class="danger">
                                    
                                    {% elif eh.result == "NAp"%}
                                   	 <tr class="warning">
                                   	 
                                   	{% else%}
                                   		<tr> 
                                    {%endif%}
                                    
                                        <td><a href="/execution/execute/{{execution.id}}/tc/{{eh.id}}/">{{eh.testcase.title}}</a></td>
                                        <td>{{eh.result}}</td>
                                        
                                        
                                    </tr>
                               {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                    </div>
 


<script>

$(document).ready(function() {

	//$("select#result").prop('selectedIndex', 2);
	
		$('#result_table').dataTable( {
        "pagingType": "full_numbers"
   		 });
		var filter_by = "{{filter_by}}";
		
		switch(filter_by){
			
			case "Passed":
				$("#result").val("pass");
				break;
			case "Failed":
				$("#result").val("fail");
				break;
			case "Not Applicable":
				$("#result").val("nap");
				break;
			case "Not Executed":
				$("#result").val("ne");
				break;
			case "Executed":
				$("#result").val("executed");
				break;
				
			default:
				$("#result").val("all")
		}
		
	    $('#result').change(function() {
	    	
	    	var by = $("#result option:selected").val();
	    	window.location.href = "/execution/get/"+"{{ execution.id }}"+"/filter/?by="+by;	
	        
	        
	    });

	    function returnSuccess(data, textStatus, jqXHR)
		{
	    	alert(data);
	    	
	    	
		}	

	
	
});
</script>
                  
{% endblock %}


